@charset "UTF-8";

@import "variables.scss";
@import "reset.scss";

.container {
  height: 100%;
}

#sidebar-view {
  position: relative;
  width: 300px;
  height: 100%;
  float: left;
  background-color: #CCCCCC;

  .user {
    height: 100px;
    padding: 20px;

    > img {
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 50%;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      margin-left: 20px;
      color: $white;
      font: {
        size: 1.5em;
        weight: bold;
      }
    }
  }

  .project-list {
    ul li {
      height: 50px;
      line-height: 50px;
      padding: 0 40px;
      position: relative;

      a {
        color: $white;
        display: inline-block;
        height: 100%;
        width: 50%;
        margin-left: 30px;
      }

      &.active, &:hover {
        background-color: #BDBDBD;
      }

      .list-icon {
        position: absolute;
        top: 17px;
        color: $white;
        font-size: 18px;
      }
    }
  }

  .sign-out {
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    > a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: $white;
      cursor: pointer;
      background-color: #BDBDBD;

      &:hover {
        background-color: #ABABAB;
      }
    }

    .sign-out-icon {
      position: absolute;
      top: 17px;
      left: 115px;
      color: $white;
    }
  }
}

#list-view {
  width: 500px;
  height: 100%;
  float: left;
  background-color: $border-color;
  position: relative;

  .search {
    height: 100px;
    width: 100%;
    padding: 25px 50px 0 50px;
    background-color: #EDEDED;

    > input {
      display: block;
      width: 100%;
      height: 50px;
      border: #ABABAB 1px solid;
      border-radius: 5px;
      background-color: $white;
      padding: 0 10px 0 50px;
      font-size: 16px;

      &:focus {
        border-color: #617fde;
      }
    }

    .search-icon {
      position: absolute;
      font-size: 30px;
      color: #ABABAB;
      top: 33px;
      left: 63px;
    }
  }
}

#detail-view {
  margin-left: 800px;
}
