$border-color: #f5f5f5;
$blue: #436EEE;
$sign-out-color: darken($blue, 10%);
$hover-color: darken($blue, 5%);
$white: #fff;

$font-family: -apple-system,".SFNSText-Regular",'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif,'Meiryo';
