@charset 'UTF-8';

@import 'variables';
@import 'reset';

#app {
  height: 100%;
}

.login-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $border-color url('../../build/images/bg.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}

#login, #register {
  position: absolute;
  height: 450px;
  width: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .login-header {
    height: 100px;
    vertical-align: middle;
    margin-bottom: 30px;
    color: $white;

    h1 {
      height: 50px;
      font-size: 2em;
      text-align: center;
    }

    h2 {
      font-size: 2em;
      text-align: center;
    }
  }

  .login-main {
    border: 1px solid $border-color;

    .input-row {
      height: 65px;
      line-height: 65px;
      &:last-child {
        border-top: 1px solid $border-color;
      }

      .input-label {
        display: inline-block;
        font-size: 1.2em;
        color: $white;
        width: 20%;
        text-align: center;
      }

      .login-input {
        background-color: transparent;
        height: 100%;
        padding: 0 20px;
        outline: 0;
        width: 393px;
        transition: 0.2s ease;
        font-size: 1.5em;
        color: $white;
        &:focus {
          background-color: rgba(#EDEDED, 0.3);
        }
      }

    }
    &.redBorder{
      border-color: red;
    }
  }

  .errors {
    position: absolute;
    top: 277px;
    li {
      color: red;
    }
  }

  .login-footer {
    margin-top: 50px;

    .login-btn {
      border: 1px solid $border-color;
      width: 500px;
      height: 50px;
      outline: 0;
      background-color: transparent;
      transition: 0.2s ease;
      cursor: pointer;
      font-size: 1.5em;
      color: $white;
      &:hover {
        background-color: rgba(#EDEDED, 0.3);
      }
    }
  }
}
